<label for="name">
	<f:translate key="tx_myaudioshop_domain_model_masad.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="description">
	<f:translate key="tx_myaudioshop_domain_model_masad.description" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="images">
	<f:translate key="tx_myaudioshop_domain_model_masad.images" /> <span class="required">(required)</span>
</label><br />
	<f:form.upload property="images" /><br />
<label for="price">
	<f:translate key="tx_myaudioshop_domain_model_masad.price" />
</label><br />
	<f:form.textfield property="price" /><br />
<label for="newPrice">
	<f:translate key="tx_myaudioshop_domain_model_masad.new_price" />
</label><br />
	<f:form.textfield property="newPrice" /><br />
<label for="manual">
	<f:translate key="tx_myaudioshop_domain_model_masad.manual" />
</label><br />
	<f:form.checkbox property="manual" value="1" /><br />
<label for="remote">
	<f:translate key="tx_myaudioshop_domain_model_masad.remote" />
</label><br />
	<f:form.checkbox property="remote" value="1" /><br />
<label for="views">
	<f:translate key="tx_myaudioshop_domain_model_masad.views" />
</label><br />
	<f:form.textfield property="views" /><br />
<label for="weight">
	<f:translate key="tx_myaudioshop_domain_model_masad.weight" />
</label><br />
	<f:form.textfield property="weight" /><br />
<label for="status">
	<f:translate key="tx_myaudioshop_domain_model_masad.status" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="status" /><br />
<label for="packaging">
	<f:translate key="tx_myaudioshop_domain_model_masad.packaging" />
</label><br />
	<f:form.textfield property="packaging" /><br />
<label for="buildDate">
	<f:translate key="tx_myaudioshop_domain_model_masad.build_date" />
</label><br />
	<f:form.textfield property="buildDate"  value="{masAd.buildDate->f:format.date()}" /><br />
<label for="quantity">
	<f:translate key="tx_myaudioshop_domain_model_masad.quantity" />
</label><br />
	<f:form.textfield property="quantity" /><br />
<label for="color">
	<f:translate key="tx_myaudioshop_domain_model_masad.color" />
</label><br />
	<f:form.textfield property="color" /><br />
<label for="editorPick">
	<f:translate key="tx_myaudioshop_domain_model_masad.editor_pick" />
</label><br />
	<f:form.checkbox property="editorPick" value="1" /><br />
<label for="serial">
	<f:translate key="tx_myaudioshop_domain_model_masad.serial" />
</label><br />
	<f:form.textfield property="serial" /><br />
<label for="shipmentPays">
	<f:translate key="tx_myaudioshop_domain_model_masad.shipment_pays" />
</label><br />
	<f:form.textfield property="shipmentPays" /><br />