<table class="tx-myaudioshop" >
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.name" />
		</td>
		<td>
			{masAd.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.description" />
		</td>
		<td>
			{masAd.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.images" />
		</td>
		<td>
			{masAd.images}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.price" />
		</td>
		<td>
			{masAd.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.new_price" />
		</td>
		<td>
			{masAd.newPrice}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.manual" />
		</td>
		<td>
			{masAd.manual}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.remote" />
		</td>
		<td>
			{masAd.remote}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.shipment_type" />
		</td>
		<td>
			{masAd.shipmentType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.payment" />
		</td>
		<td>
			{masAd.payment}
		</td>
	</tr>
</table>