<table class="tx-myaudioshop" >
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.name" />
		</td>
		<td>
			{masAd.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.description" />
		</td>
		<td>
			{masAd.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.images" />
		</td>
		<td>
			{masAd.images}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.price" />
		</td>
		<td>
			{masAd.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.new_price" />
		</td>
		<td>
			{masAd.newPrice}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.manual" />
		</td>
		<td>
			{masAd.manual}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.remote" />
		</td>
		<td>
			{masAd.remote}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.views" />
		</td>
		<td>
			{masAd.views}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.weight" />
		</td>
		<td>
			{masAd.weight}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.status" />
		</td>
		<td>
			{masAd.status}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.packaging" />
		</td>
		<td>
			{masAd.packaging}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.build_date" />
		</td>
		<td>
			{masAd.buildDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.quantity" />
		</td>
		<td>
			{masAd.quantity}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.color" />
		</td>
		<td>
			{masAd.color}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.editor_pick" />
		</td>
		<td>
			{masAd.editorPick}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.serial" />
		</td>
		<td>
			{masAd.serial}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myaudioshop_domain_model_masad.shipment_pays" />
		</td>
		<td>
			{masAd.shipmentPays}
		</td>
	</tr>
</table>