<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for MasAd</h1>

<f:flashMessages />

<table  class="tx_myaudioshop" >
	<tr>
		<th><f:translate key="tx_myaudioshop_domain_model_masad.name" /></th>
		<th><f:translate key="tx_myaudioshop_domain_model_masad.description" /></th>
		<th><f:translate key="tx_myaudioshop_domain_model_masad.images" /></th>
		<th><f:translate key="tx_myaudioshop_domain_model_masad.price" /></th>
		<th><f:translate key="tx_myaudioshop_domain_model_masad.new_price" /></th>
		<th><f:translate key="tx_myaudioshop_domain_model_masad.manual" /></th>
		<th><f:translate key="tx_myaudioshop_domain_model_masad.remote" /></th>
		<th><f:translate key="tx_myaudioshop_domain_model_masad.views" /></th>
		<th><f:translate key="tx_myaudioshop_domain_model_masad.weight" /></th>
		<th><f:translate key="tx_myaudioshop_domain_model_masad.status" /></th>
		<th><f:translate key="tx_myaudioshop_domain_model_masad.packaging" /></th>
		<th><f:translate key="tx_myaudioshop_domain_model_masad.build_date" /></th>
		<th><f:translate key="tx_myaudioshop_domain_model_masad.quantity" /></th>
		<th><f:translate key="tx_myaudioshop_domain_model_masad.color" /></th>
		<th><f:translate key="tx_myaudioshop_domain_model_masad.editor_pick" /></th>
		<th><f:translate key="tx_myaudioshop_domain_model_masad.serial" /></th>
		<th><f:translate key="tx_myaudioshop_domain_model_masad.shipment_pays" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{masAds}" as="masAd">
		<tr>
			<td><f:link.action action="show" arguments="{masAd : masAd}"> {masAd.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{masAd : masAd}"> {masAd.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{masAd : masAd}"> {masAd.images}</f:link.action></td>
			<td><f:link.action action="show" arguments="{masAd : masAd}"> {masAd.price}</f:link.action></td>
			<td><f:link.action action="show" arguments="{masAd : masAd}"> {masAd.newPrice}</f:link.action></td>
			<td><f:link.action action="show" arguments="{masAd : masAd}"> {masAd.manual}</f:link.action></td>
			<td><f:link.action action="show" arguments="{masAd : masAd}"> {masAd.remote}</f:link.action></td>
			<td><f:link.action action="show" arguments="{masAd : masAd}"> {masAd.views}</f:link.action></td>
			<td><f:link.action action="show" arguments="{masAd : masAd}"> {masAd.weight}</f:link.action></td>
			<td><f:link.action action="show" arguments="{masAd : masAd}"> {masAd.status}</f:link.action></td>
			<td><f:link.action action="show" arguments="{masAd : masAd}"> {masAd.packaging}</f:link.action></td>
			<td><f:link.action action="show" arguments="{masAd : masAd}"> {masAd.buildDate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{masAd : masAd}"> {masAd.quantity}</f:link.action></td>
			<td><f:link.action action="show" arguments="{masAd : masAd}"> {masAd.color}</f:link.action></td>
			<td><f:link.action action="show" arguments="{masAd : masAd}"> {masAd.editorPick}</f:link.action></td>
			<td><f:link.action action="show" arguments="{masAd : masAd}"> {masAd.serial}</f:link.action></td>
			<td><f:link.action action="show" arguments="{masAd : masAd}"> {masAd.shipmentPays}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{masAd : masAd}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{masAd : masAd}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New MasAd</f:link.action>
</f:section>